.container{
    text-align: center;
    margin-top: 23px;
}
table{
    margin: auto;
}
input{
    border-radius: 15px;
    border: 5px solid #d84315;
    font-size: 34px;
    width: auto;
}
button{
    border-radius: 12px;
    font-size: 30px;
    background: coral;
    width: 98px;
    height: 60px;
}
.calculator{
    border: 4px solid darkblue;
    background-color: aquamarine;
    padding: 14px;
    border-radius: 53px;
    display: inline-block;
}